<div class="card">
  <div class="card-header">
    <h4>About the App<h4>
  </div>
  <div class="card-body">
    This is a tutorial program designed to serve as an intro into the world of app design with ruby on rails. It has been configured to work with rails 7. When generating the project be sure to add the "-j esbuild" and "--css bootstrap" flags to the generate command
  </div>
</div>