<div class="card">
  <div class="card-header">
    <h4>A Place to List your Friends<h4>
  </div>
  <div class="card-body">
    <h5>This is a simple app where you can create and manage a list of your friends. The list is tied to the user and only allows authenticated users to view and edit your list of friends.<h5>
  </div>
</div>
